/* Author: sh4869 */
/* import webfont */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/******************/
/* Global Setting */
/******************/
body{
	background:#FFF;
	margin:0px;
	font-family: 'Noto Sans Japanese', sans-serif,"Helvetica","メイリオ";
	background:white;
}

/* Tag Setting */

img{
	margin:0 auto;
}

hr{
	border: 0;
	height: 0;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 1.5rem 0;
}
/* Title Tag Setting */
h1.maintitle {
	font-weight:400;
	font-size:2.3rem;
	margin-top:0.5em;
}
h2.title{
	font-weight:500;
	margin-top:0.5em;
	margin-bottom:0.5em;
}
h3.minititle{
	font-weight:400;
}

/* Content Class */
.contents {
	margin: 0 1rem;
}
/* Caption Class */
.caption{
	margin: 0 1rem;
}
.caption p{
	text-indent: 1em;
	margin:0.2rem 0rem;
}
.caption a{
	color: black;
	text-decoration: underline;;
}

/* section page setting */
.section.ui.page.grid{
	padding-top:1.5rem;
	color:#042B06;
	line-height:1.5;
}
#top {
	background-color: white;
}
#about {
	background-color: orange;
	color:black;
}
#project {
	background-color:white;
}
#contact {
	background-color:rgb(10, 180, 255);
	color:black;
	padding-bottom: 2.0rem;
}
