@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
	background:#FFF;
	margin:0px;
	font-family: 'Noto Sans Japanese', sans-serif,"Helvetica","メイリオ";
	background:white;
}

img{
	margin:0 auto;
}

.contents {
	margin: 0 1rem;
}
.caption{
	margin: 0 1rem;
}
.caption p{
	text-indent: 1em;
	margin-bottom:0.3rem;
}
.caption a{
	margin-left: 1em;
	color: black;
	text-decoration: underline;;
}
h1.maintitle {
	font-weight:400;
	font-size:2.3rem;
}
h2.title{
	font-weight:500;
	margin-top:0.5em;
	margin-bottom:0.5em;
}
h3.minititle{
	font-weight:400;
}

h4 {
	font-weight:400;
}

hr.white{
	border: 0;
	height: 0;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 1.5rem 0;
}


.section.ui.page.grid{
	color:#042B06;
	background-color:white;
	line-height:1.5;
}

#top {
	padding-top:1rem;
	background-color: white;
}
#about {
	padding-top:1.5rem;
	background-color: orange;
	color:black;
}
#project {
	padding-top:1.5rem;
	background-color:white;
}
#contact {
	padding-top:1.5rem;
	background-color:rgb(10, 180, 255);
}
.content  h3{
	margin-bottom: 0em;
}

.menu{
  top:0px;
}
