#about-content {
  background: #28c559;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left top, #28c559, #56B4D3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left top, #28c559, #56B4D3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#about-content .about-content-content {
  margin: 1em;
}

#about-content .about-content-content h2 {
  margin: 2em 0;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 22px;
}

#about-content .about-content-content .caption {
  margin-left: 1em;
}

#about-content .about-content-content .caption p {
  text-indent: 1em;
  font-size: 1.05em;
  line-height: 1.3em;
}

#about-content .about-content-content .caption a {
  color: #444;
  text-decoration: underline;
}
