#link-button.section
  .uk-grid
    .uk-width-large-1-10.uk-hidden-small
    .uk-width-large-2-10.uk-width-small-1-2.uk-width-1-2(data-uk-parallax="{ scale: '0.5,1.0',velocity: '0.5',viewport:'0.5'}")
      .link-button
        a(href="/about.html")
          img.uk-border-circle(src="/public/img/link-button/about-button.png",alt="About")
          .caption
            h2 About
    .uk-width-large-2-10.uk-width-small-1-2.uk-width-1-2(data-uk-parallax="{ scale: '0.5,1.0',velocity: '0.5',viewport:'0.5'}")
      .link-button
        a(href="/greeting.html")
          img.uk-border-circle(src="/public/img/link-button/greeting-button.png",alt="Greeting")
          .caption
            h2 Greeting
    .uk-width-large-2-10.uk-width-small-1-2.uk-width-1-2(data-uk-parallax="{ scale: '0.5,1.0',velocity: '0.5',viewport:'0.5'}")
      .link-button.product
        a(href="/activity.html")
          img.uk-border-circle(src="/public/img/link-button/product-button.png",alt="Activity")
          .caption
            h2 Activity
    .uk-width-large-2-10.uk-width-small-1-2.uk-width-1-2(data-uk-parallax="{ scale: '0.5,1.0',velocity: '0.5',viewport:'0.5'}")
      .link-button
        a(href="/news.html")
          img.uk-border-circle(src="/public/img/link-button/news-button.png",alt="News")
          .caption
            h2 News
    .uk-width-large-1-10.uk-hidden-small