link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css', rel='stylesheet', type='text/css')
link(href=option.directory + '/public/css/user.css', rel='stylesheet', type='text/css')
