#about-top {
    background-image: url('/public/img/about/top-background.jpg');
}

#about-content {
    background: #28c559;
    background: -webkit-linear-gradient(to left top, #28c559, #56B4D3);
    background: linear-gradient(to left top, #28c559, #56B4D3);
}