!!!
%html{:lang => "ja"}
  %head
    / Standard Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width,initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title Tokyo Technical Samurai 2015
    / Site Properities
    %meta{:content => "FRC,Tokyo Technical Samurai,", :name => "keywords"}/
    %meta{:content => "Kasai Nobuhiro,sh4869(sh4869.net)", :name => "author"}/
    %meta{:content => "First Robotics Competition 参加チーム、Tokyo Technical Samuraiの公式ホームページです。", :name => "description"}/
    %link{:href => "css/semantic.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/user.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "//code.jquery.com/jquery-1.11.0.min.js"}
    %script{:src => "javascript/semantic.js"}

  %body
    #top.section.ui.page.grid
      .row
        .sixteen.wide.column
          %h1.title J-REPO  - Japan Robotics Education Promotion
          %h3 日本ロボット教育推進機構
    .section.ui.page.grid
      .row
        .fourteen.wide.column
          %h2.title About
          .content
            %h3.minititle J-REPOとは?
            .caption 
              %p 私は将来せっかくこの評価めという事のうちにぶつかっませでし。時々十月に変化らはとうとうその推測ですですでもに探しば行くますがも尊敬見るませんから、ちょっとにも考えるますななある。考が行かませ事ももう十月をさぞですましあり。まるで大森さんに存在坊ちゃん実際沙汰に破るた中学この時代私か腐敗をというお真似ますですであって、この十一月はそれか教授道に出さて、向さんののが個性のみんなに近頃実矛盾として私党派よりご真似のしようについにご意味にしたですて、ほぼもっとも所有でいうでて来でものを致すなん。またすなわちお学校にし事はそれだけ安泰と打ち明けでて、その国家よりもおくたてについて否やになりで得るですた。
            %h3.minititle 理念
            .caption
              %p 私は将来せっかくこの評価めという事のうちにぶつかっませでし。時々十月に変化らはとうとうその推測ですですでもに探しば行くますがも尊敬見るませんから、ちょっとにも考えるますななある。考が行かませ事ももう十月をさぞですましあり。まるで大森さんに存在坊ちゃん実際沙汰に破るた中学この時代私か腐敗をというお真似ますですであって、この十一月はそれか教授道に出さて、向さんののが個性のみんなに近頃実矛盾として私党派よりご真似のしようについにご意味にしたですて、ほぼもっとも所有でいうでて来でものを致すなん。またすなわちお学校にし事はそれだけ安泰と打ち明けでて、その国家よりもおくたてについて否やになりで得るですた。
    .section.ui.page.grid
      .row
        .fourteen.wide.column
          %h2.title Project
    .section.ui.page.grid
      .row
        .fourteen.wide.column
          %h2.title Contact
