extends ../template/_layout
block vars
  - var option = data.about
block css
  include ../template/link/_newui_css
  link(href=option.directory + '/public/css/section/about-top.css', rel='stylesheet',type='text/css')
  link(href=option.directory + '/public/css/section/about-content.css', rel='stylesheet',type='text/css')
block js
  include ../template/script/_newui_js
block append body
  include ./section/about-top
  include ./section/about-content
  include ./section/footer