@charset "UTF-8";
/* Author: sh4869 */
/* import webfont */
/* Tag Setting */
img {
  margin: 0 auto;
}

/* Title Tag Setting */
h1.maintitle {
  font-weight: 400;
  font-size: 2.3rem;
  margin-top: 0.5em;
}

h1.maintitle.english {
  font-weight: 400;
  font-size: 2.0rem;
  margin-top: 0.5em;
}

h3.minititle {
  font-weight: 400;
}

h4.minititle {
  font-size: 1.15rem;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Content Class */
.contents {
  margin: 0 1rem;
}

/* Caption Class */
.caption {
  margin: 0 1rem;
}

.caption p {
  line-height: 1.5rem;
  text-indent: 1em;
  margin: 0.4rem 0rem;
}

.caption p.right {
  text-align: right;
}

.caption a {
  color: black;
  text-decoration: underline;
}

/* section page setting */
.section.ui.page.grid {
  padding-top: 1.5rem;
  color: #042B06;
  line-height: 1.5;
}

#top {
  background-color: white;
}

#project {
  background-color: white;
}

#contact {
  background-color: #0ab4ff;
  color: black;
  padding-bottom: 2.0rem;
}

/* translate menu background */
.translate-menu {
  background-color: #c35959 !important;
}

/* Global Class Setting*/
/* 各sectionの中のメインコンテンツ*/
