$criteria_width: 640px;

#news-top {
  background: #16BFFD; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16BFFD , #CB3066); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16BFFD , #CB3066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
  .news-top-title {
    margin-right:2em;  
    margin-left: 2em;
    margin-bottom: 0.5em;
    margin-top: 3em;
    text-align: left;
    border-bottom: 0.5px solid white;
    padding:0.5em;
    h1.title  {
      margin-bottom:0em;
      font-weight: 100;
      color: white;
    }
  }
}