extends ./_layout
block append body
	#article-content.section
		.uk-grid
			.uk-width-large-1-6.uk-hidden-small
			.uk-width-large-4-6.uk-width-small-1-1.main
				.uk-article
					h1.uk-article-title.article-title= article_title
					.article-info
						.uk-article-meta #{date} - #{author}
					.article-text
						include:markdown-it {{{md_url}}}
			.uk-width-large-1-6.uk-hidden-small
	include ../section/footer