$criteria_width: 640px;

#about-top {
  background-size: cover;
  background-image: url('../../img/top-background.JPG');
  text-align: right;
  .about-top-title {
    margin-top:10rem;
    margin-right:2em;  
    h1.title  {
      color: black;
      font-size: 5.375vw;
      @media screen and (min-width: $criteria_width){
        font-size:36px;
        line-height: 42px;
      }
    }
  }
}