#footer {
  /*背景色は緑で統一 */
  background-color: #42e468; 
  .credit {
    /* 左側の組織簡易紹介 */
    border-right: 1px solid #006d04;
    .caption {
      /* 少しインデント */
      margin: 0 1.5em;
      .description-class {
        dt {
          color: #444;
          font-size: 1.1em;
          &:nth-child(n+2){
            border-top-color: #15b10c;
          }
        }
        > dd {
          color: #222;
          text-indent: 1em;
        }
      }
      p {
        line-height: 1.5rem;
        text-indent: 1em;
        margin: 0.4rem 0rem;
        font-size: 1.1em;

        &.right {
          text-align: right;
        }
      }
    } 
  }
}