$criteria_width: 600px;

#article-content {
  margin-right: 1em;
  .article-title{
     font-size: 4.5vw;
      @media screen and (min-width: $criteria_width){
        font-size: 36px;
        line-height: 42px;
      }
  }
  .article-info {
    text-align:right;
    margin: 1em 0;
  }
  .article-text {
    margin-left:1em;
  }
}