meta(content='summary', name='twitter:card')
meta(content='@jrepo_official', name='twitter:site')
meta(content=option.title, name='twitter:title')
meta(content='http://j-repo.com/img/jrepo-logo-minimum.png', name='twitter:image')
meta(content=option.description, name='twitter:description')