#greeting-content.section
  .uk-grid
    .uk-width-large-1-6.uk-hidden-small
    .uk-width-large-4-6.uk-width-small-1-1.main
      each content in option.content
        .greeting-content-content
          h2= content.title
          .caption
            each texts in content.texts
              p= texts
            .uk-grid.director
              .uk-width-large-1-3.director-content.img
                img(src=option.directory + '/public/img/greeting/eguchi.jpg')
              .uk-width-large-2-3.director-content.text
                each text in content.righttexts
                  p.right=text
    .uk-width-large-1-6.uk-hidden-small