meta(content=option.title, property='og:title')
meta(content='website', property='og:type')
meta(content='http://j-repo.com', property='og:url')
meta(contnet='http://j-repo.com/public/img/jrepo-logo-minimum.png', property='og:image')
meta(content=option.description, property='og:description')