extends ./template/_layout
block append vars
  - var title = "弊法人について - 日本ロボット教育推進機構"
  - var description = "日本ロボット教育推進機構についてや活動理念について掲載しています。"
block append body
  #about-top.top
    .title
      h1 日本ロボット教育推進機構について
  #about-content.main
    .uk-grid
      .uk-width-large-1-6.uk-hidden-small
      .uk-width-large-4-6.uk-width-small-1-1.contents
        .content
          .title
            h2 日本ロボット教育推進機構とは?
          .caption
            p
              | 一般社団法人 日本ロボット教育推進機構(英名：Japan Robotics Education Promotional Organization、略称：J-REPO)は、米国のロボット競技会 FRC2015 に参加した”Tokyo Technical Samurai”の一期生である江口壮哉を代表理事とし、同じく一期生である大西祐輝、原田英将を理事として平成27年11月4日に設立された非営利型の一般社団法人です。
            p  
              | 弊法人は日本国内において、中高生を対象とした、ロボット教育を始めとする技術的な教育の普及に寄与することを目的としています。企業を始めとする他の団体とも積極的に連携し、下記の理念の実現を目指します。
        .content
          .title
            h2 活動理念
          .caption
            p
              | 中高生の技術教育の支援 及び 学びの機会の均一化を図り、日本の未来を担う若い技術者の育成と、産業の発展に貢献します。
            p  
              != 'また弊法人は、<a href="http://www.firstinspires.org/about/vision-and-mission">米国FIRSTの掲げる理念</a>に賛同して活動を行って参ります。'
      .uk-width-large-1-6.uk-hidden-small
  include ./section/footer