#article-content {
  margin-right: 1em;
  margin-left: 1em;
}

#article-content .article-title {
  font-size: 4.5vw;
}

@media screen and (min-width: 600px) {
  #article-content .article-title {
    font-size: 36px;
    line-height: 42px;
  }
}

#article-content .article-info {
  text-align: right;
  margin: 1em 0;
}

#article-content .article-text {
  margin-left: 1em;
}
