#footer.section
	.uk-grid
		.uk-width-large-1-10.uk-hidden-small
		.uk-width-large-3-10.uk-width-small-1-1.credit.main
			h2 日本ロボット教育推進機構
			.caption
				dl.uk-description-list-line.description-class
					dt 創設
					dd 平成27年11月4日
					dt 代表理事
					dd 江口壮哉
					dt 所在地
					dd 〒332-0031 埼玉県川口市青木2-2-43
		.uk-width-large-2-10.uk-width-small-1-1.main.contact
			h2 Contact
			ul.uk-list.links
				li.mail
					.uk-animation-hover.uk-animation-scale.uk-animation-reverse
						a(href="mail:info@j-repo.com")
							i.uk-icon-envelope.uk-icon-justify.uk-icon-medium
							|  Mail
				li.twitter
					.uk-animation-hover.uk-animation-scale.uk-animation-reverse
						a(href="https://twitter.com/jrepo_official",target="_blank")
							i.uk-icon-twitter-square.uk-icon-justify.uk-icon-medium
							|  Twitter
				li.facebook
					.uk-animation-hover.uk-animation-scale.uk-animation-reverse
						a(href="https://facebook.com/?",target="_blank")
							i.uk-icon-facebook-square.uk-icon-justify.uk-icon-medium
							|  Facebook			
		.uk-width-large-3-10.uk-width-small-1-1.main.site-content
			h2 Site Content
			ul.uk-list.uk-list-space.content-list
				li News
				li Greeting
				li About
				li Product
		.uk-width-large-1-10.uk-hidden-small