#top.section
  .uk-grid(data-uk-grid-margin=role!==1)
    .uk-width-large-1-6.uk-hidden-small
    .uk-width-large-4-6.uk-width-small-1-1.main
      img.top_img(src=option.directory + '/public/img/jrepo-logo.png')
      .top_caption
        p.top_caption_text J-REPO - 日本ロボット教育推進機構は、中高生へのロボット教育を推進する一般社団法人です。 
        button.uk-button-large.uk-button.uk-button-primary.top_caption_button もっと知る
    .uk-width-large-4-6.uk-hidden-small